* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    border: solid black hidden;
    color: rgb(211, 211, 247);
    box-sizing: border-box;
}

/* Background color of the entire page */
body {
    background-image: linear-gradient(310deg, rgba(255, 0, 0, 0), rgb(17, 0, 255));
}

header {
    padding: 20px;
    color: rgb(211, 211, 247);
}

/* Aligning and features of the title */
#name {
    margin-left: 90px;
    display: inline-block;
    font-size: 48px;
    text-shadow: 5px 5px 5px black;
}

/* Right navbar links and their features */
#navbar {
    padding-top: 15px;
    margin-right: 4px;
    float: right;
    font-size: 20px;
}

/* Just as the id implies, the left navbar */
#left_navbar {
    padding-top: 15px;
    margin-left: 4px;
    float: left;
    font-size: 30px;
}

/* Bio and its container */
body h2 {
    margin-top: 20px;
}

body h2,
p {
    width: 78.4%;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

p {
    font-size: 25px;
    margin-top: 20px;
    line-height: 2;
    border: solid black;
}

/* Professional experience content */
.experience-copy {
    font-size: 25px;
    margin-top: 20px;
    line-height: 2;
    color: black;
}

h3 {
    margin-left: 585px;
    font-size: 48px;
}

work {
    margin-left: 585px;
    font-size: 48px;
}

.experience-heading {
    margin-left: 585px;
    font-size: 30px;
}

/* Features for the fieldset/work container */
#group,
#refraction,
#first_repo,
#dayPlanner {
    width: 200px;
    height: 50%;
    opacity: .5;
}

#group,
#refraction,
#first_repo,
#dayPlanner {
    width: 200px;
    height: 200px;
}

#group:hover,
#refraction:hover,
#first_repo:hover,
#dayPlanner:hover {
    background: linear-gradient(310deg, rgba(226, 192, 192, 0), rgb(57, 57, 65));
    opacity: 1;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 20%;
    opacity: 1;
    transition: .3s ease;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    justify-content: space-evenly;
    height: 500px;
    margin-top: 25px;
    width: 1000em;
    border: solid black;
}

#work {
    margin-top: 40px;
}

/* Contact information */
ul {
    list-style-type: none;
    max-width: 20%;
    margin-left: 20px;
}

#contact {
    margin-top: 30px;
    height: 500px;
    font-size: larger;
    text-align: left;
}

/* Figure / personal photo */
#Personal_Photo {
    display: flex;
    flex-wrap: wrap;
    margin-right: 4px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 20%;
}

/* Anchor tags and footer */
footer h2,
a {
    color: black;
}

#footer {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 30px;
    width: 100%;
    height: 40px;
}